button {
  padding: 10px 20px;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(2n) {
  background-color: lightgray;
}
